let mapleader=" "
set number
set relativenumber
set incsearch
set clipboard=unnamedplus
set smoothscroll
set ignorecase
set smartcase
set highlightedyank
set scrolloff=10
set commentary
set NERDTree
nnoremap / /
" Shortcuts
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap gp :action ActivateProblemsViewToolWindow<CR>
nnoremap <C-w> :action CloseContent<CR>
" Leader + keys
nnoremap <leader>a :action ShowIntentionActions<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>u :action ShowUsages<CR>
nnoremap <leader>g :action Annotate<CR>
nnoremap <leader>x :action CloseContent<CR>
nnoremap <leader>X :action CloseAllEditorsButActive<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>l :action ReformatCode<CR>
nnoremap <leader>d :action GotoDeclaration<CR>
nnoremap <leader>i :action QuickImplementations<CR>
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>
vnoremap <leader>h :action Vcs.ShowHistoryForBlock<CR>
nnoremap <leader>s :action SelectInProjectView<CR>
nnoremap <leader>p :action OpenRecentProject<CR>
nnoremap <leader>v :e ~/.ideavimrc<CR>
nnoremap <leader>R :source ~/.ideavimrc<CR>

map <Leader>pf <action>(com.mituuz.fuzzier.Fuzzier)
map <Leader>gf <action>(com.mituuz.fuzzier.FuzzierVCS)
map <Leader>mf <action>(com.mituuz.fuzzier.FuzzyMover)
map <Leader>ff <action>(com.mituuz.fuzzier.FuzzyGrepCaseInsensitive)

" Switch to specific tabs using Control + number
nnoremap <C-1> :action GoToTab1<CR>
nnoremap <C-2> :action GoToTab2<CR>
nnoremap <C-3> :action GoToTab3<CR>
nnoremap <C-4> :action GoToTab4<CR>
nnoremap <C-5> :action GoToTab5<CR>
nnoremap <C-6> :action GoToTab6<CR>
nnoremap <C-7> :action GoToTab7<CR>
nnoremap <C-8> :action GoToTab8<CR>
nnoremap <C-9> :action GoToTab9<CR>
